.PhoneInput-countryselect {
    flex: 0 0 1em;
    vertical-align: middle;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li:hover {
            cursor: pointer;
        }
    }
}

.PhoneInput-country-selected {
    background-color: $c-brand-comp-light;
}

.PhoneInput-country-list {
    position: absolute;
    background-color: white;
    z-index: 10000;
    height: 9em;
    overflow: scroll;
}


.PhoneInput-wrapper {
    div:focus {
        outline: none;
    }
}


.PhoneInput-flag-menu {
    padding: 0.1em 0.5em 0.5em 0.1em;

    :hover {
        cursor: pointer;
    }

    div {
        font-size: 0.7em;
        width: 100%;
        text-align: center;
        margin-top: -0.6em;
    }
}

.PhoneInput-hiddenLabel {
    flex: 1;
}

.PhoneInput-input {
    flex: 1;
}

.PhoneInput-wrapper {
    display: flex;
}
