@mixin icon-button($icon, $collapse: true) {
    color: $c-text;
    text-decoration: none;
    border-radius: 3em;
    vertical-align: middle;
    padding-right: 1em;

    @if $collapse {
        max-width: 2.2em;
        margin-right: 1em;
        overflow: hidden;
        white-space: nowrap;

        //TODO: Improve transitions
        transition: max-width 0.5s ease-in-out;

        &:hover {
            max-width: 100%;
            transition: max-width 0.2s ease-in-out;
        }

        @include medium-screen {
            max-width: 100%;
            transition: max-width 0.2s ease-in-out;
        }
    }

    &:hover {
        background-color: $c-ui-bg;
    }

    &:before {
        @include icon($icon);
        background-color: $c-brand-main;
        color: white;
        border-radius: 50%;
        padding: 0.3em;
        margin-right: 0.5em;
        vertical-align: middle;
    }
}

@mixin checkbox-wrapper {
    input[type="checkbox"] {
        display: none;

        & + label {
            display: inline-block;

            &:hover {
                cursor: pointer;
            }

            &:before {
                background-color: darken(#fff, 1);
                border: 1px solid darken(#fff, 25);
                border-radius: 2px;
                cursor: pointer;
                @include icon($fa-var-check);
                color: darken(#fff, 1);
                height: 1.5em;
                width: 1.5em;
                margin-right: 0.5em;
                transition: color 0.2s, background-color 0.2s ease-in;
            }

            &:hover::before {
                background-color: darken(#fff, 3);
                color: rgba($c-brand-main, 0.5)!important;
            }
        }

        &:checked +label:before {
            background-color: darken(#fff, 5);
            @include icon($fa-var-check);
            color: $c-brand-main!important;
            display: inline-block;
            height: 1.5em;
            width: 1.5em;
            margin-right: 0.5em;
        }

        @include target-ie-6-7-8 {
            display: block;
            & + label {
                display: none;
            }
        }
    }
}

// Exploiting IE bugs to target specific versions
@mixin target-ie-6-7 {
    @media screen\9 {
        @content;
    }
}

@mixin target-ie-6-7-8 {
    @media \0screen\,screen\9 {
        @content;
    }
}

@mixin target-ie-8 {
    @media \0screen {
        @content;
    }
}

@mixin target-ie-8-9-10 {
    @media screen\0 {
        @content;
    }
}

@mixin target-ie-8-9-10 {
    @media screen and (min-width:0\0) {
        @content;
    }
}