.CampaignCalendarDay {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 14%;
    height: 0;
    padding-bottom: 14%;
    border-right: 1px solid darken(white, 5);
    position: relative;

    background-color: darken(white, 3);
    &.isSelectedMonth {
        background-color: white;
    }

    .CampaignCalendarDay-link {
        position: absolute;
        display: block;
        transition: all 0.5s;
        border-radius: 50%;
        height: 80%;
        width: 80%;
        margin: 9%;
        text-align: center;
        line-height: 2.2em;
        font-size: 70%;
        text-decoration: none;
        color: lighten($c-text, 20);
        letter-spacing: 1px;

        &:before {
            //For vertical alignment
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    &.hasActions {
        .CampaignCalendarDay-link {
            text-decoration: underline;
            color: lighten($c-text, 0);
        }

    }
    &.hasResponses {
        .CampaignCalendarDay-link {
            background-color: darken(white, 1);
            border: 2px solid $c-brand-main;
        }
        &:hover {
            .CampaignCalendarDay-link {
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
                z-index: 999;
                position: absolute;
                width: 110%;
                height: 110%;
                margin-left: -5%;
                margin-top: -5%;
                transition: all 0.2s;
                line-height: 3em;
            }
        }
    }

    &.hasBookings {
        .CampaignCalendarDay-link {
            background-color: $c-brand-main;
            color: white;
        }
    }
}
