.ActionFilterModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2em;
    background-color: white;
    z-index: 999;

    animation: ActionFilterModal-enter 0.5s;
}

@keyframes ActionFilterModal-enter {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
