.ActionFilterToggle {
    position: relative;
    padding: 1em;
    border-bottom: 1px solid #eee;

    &:before {
        @include icon($fa-var-check);
        position: absolute;
        color: lighten($c-text, 55);
    }

    span {
        display: block;
        margin-left: 30px;
        line-height: 1em;
        margin-bottom: 0.5em;

        @include small-screen {
            display:inline-block;
        }

        &:first-child {
            @include small-screen {
                margin-top: 0.3em;
            }
        }
        &:last-child {
            font-size: 0.9em;
            margin-bottom: 0;
            color: lighten($c-text, 20);

            @include small-screen {
                position: absolute;
                right: 1em;
            }
        }
    }

    &:hover {
        cursor: pointer;
        background-color: #fbfbfb;

        &:before {
            color: lighten($c-text, 30);
        }
    }

    &.selected {
        &:before {
            @include icon($fa-var-check);
            color: $c-brand-main;
        }

        span:first-child {
            text-decoration: underline;
        }
    }
}
