.ActionFormInfoLabel {
    color: lighten($c-text, 20);
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.25em 0;

    &.location:before {
        @include icon($fa-var-map-marker);
    }
    &.time:before {
        @include icon($fa-var-clock-o);
    }
    &.campaign:before {
        @include icon($fa-var-flag);
    }
}