.MultiShiftActionForm-info {
    position: relative;
    color: lighten($c-text, 30);
    font-size: 0.9em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    transition: max-height 0.5s;

    &:after {
        @include icon($fa-var-arrow-right);
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        color: lighten($c-text, 50);
    }
}
