.MultiActionFormItem {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid darken($c-ui-bg,5);
    clear: both;

    div:first-child {
        padding: 1em 0;
    }

    div {
        position: relative;
        display: inline-block;
        width: 50%;
        float: left;

        &.ResponseWidget {
            margin-bottom: 0;
        }

        .ResponseWidget-button {
            position: absolute;
            right: 0;
        }
    }
}