.ResponseWidget {
    color: $c-brand-main;
    width: 100%;
    margin-bottom: 1em;

    .ResponseWidget-button {
        @include button();

        &:focus {
            outline: none;
        }

        &.signedUp {
            @include button($color: $c-ui-dark);
        }
    }

    span {
        color: lighten($c-text, 20);
    }

    & > span {
        &:before {
            @include icon($fa-var-check);
            color: $c-brand-main;
            font-size: 1.2em;
        }
    }
}
