.SingleActionForm {

    .SingleActionForm-title {
        margin: 0.5em 0 0.2em;
        font-size: 1.2em;
    }
    .SingleActionForm-location, .SingleActionForm-time {
        font-size: 0.9em;
        color: lighten($c-text, 20);
        margin-bottom: 0.2em;
    }
    .SingleActionForm-location {
        &:before {
            @include icon($fa-var-map-marker);
        }
    }
    .SingleActionForm-time {
        &:before {
            @include icon($fa-var-clock-o);
        }
    }
    .SingleActionForm-info {
        position: relative;
        color: lighten($c-text, 30);
        font-size: 0.9em;
        line-height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 3em;
        transition: max-height 0.5s;

        &:after {
            @include icon($fa-var-arrow-right);
            position: absolute;
            display: block;
            right: 0;
            bottom: 0;
            color: lighten($c-text, 50);
        }
    }

    .SingleActionForm-buttons {
        position: relative;
        width: 100%;
        height: 3em;
        margin: 1em 0;

        & > * {
            position: absolute;
            width: 47%;
        }
        & > *:first-child {
            left: 0;
        }
        & > *:last-child {
            right: 0;
            * {
                width: 100%;
            }
        }
    }

    .SingleActionForm-infoButton {
        @include button($color: white, $icon: $fa-var-search-plus);
        padding: 0 1.2em;
        border: 1px solid darken(white, 15);
        &:focus {
            outline: none;
        }
    }

    .SingleActionForm .ResponseWidget {
        right: 1em;
    }

    .SingleActionForm-toggleExpandButton {
        bottom: 0;
        margin-top: 0.5em;
        margin-left: calc(50% - 1em);
    }
    .SingleActionForm.contracted {
        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 3em;
            width: 40%;
            height: 1.5em;
            background: linear-gradient(to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 1) 50%);
        }
        .SingleActionForm-toggleExpandButton {
            @include circle-button($icon:$fa-var-caret-down);
        }
    }
    .SingleActionForm.expanded {
        .SingleActionForm-info {
            max-height: 25em;
        }

        .SingleActionForm-toggleExpandButton {
            @include circle-button($icon:$fa-var-caret-up);
        }
    }
}