.CampaignForm {
    position: relative;
    z-index: 1;
    width: 100%;
    float:left;
}

.CampaignForm-sidebar {
    @include col(10,12);
    @include col-offset(1, 12);

    @include medium-screen {
        @include col(5,12);
        @include col-offset(0, 12);
        position: absolute;
        left: 0;
        overflow-y: scroll;
    }

    @include large-screen {
        @include col(3,12);
        @include col-offset(0, 12);
    }
}

.CampaignForm-filter {

}

.CampaignForm-filter
.CampaignForm-filterShowNeed {
    margin: 2em -15%;
    padding: 2em;
    background-color: $c-brand-comp-light;
    color: white;
    text-align: center;

    @include medium-screen {
        margin: 2em -0.5em;
    }

    @include large-screen {
        font-size: 0.9em;
        padding: 1em;
    }

    &:before {
        @include icon($fa-var-user-plus);
        font-size: 1.8em;
        display: inline-block;
        width: 20%;
        margin: 0;
        vertical-align: middle;
    }

    p {
        display: inline-block;
        width: 80%;
        text-align: left;
        vertical-align: middle;
    }

    .Button {
        @include button($color:white, $transparent:true);
        line-height: 2em;
    }
}

// Hide need filter when filtering (on mobile only)
.CampaignForm.showingNeed {
    .CampaignForm-filterShowNeed {
        display: none;

        @include medium-screen {
            display: block;
        }
    }
}

.CampaignForm-scrolled {
    .CampaignForm-sidebar {
        @include medium-screen {
            position: fixed;
            z-index: 99;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

.CampaignForm
.CampaignForm-message {
    @include col(12,12);

    @include medium-screen {
        @include col(7,12);
        @include col-offset(5, 12);
    }

    @include large-screen {
        @include col(8.8,12);
        @include col-offset(3.2, 12);
    }

    & > * {
        color: $c-text-contrast;
    }

    padding: 2em;
    margin-top: 2em;
    background-color: $c-brand-comp-light;

    @include large-screen {
        padding: 2em;
    }

    p {
        line-height: 1.5em;
        @include col(12,12);

        @include large-screen {
            @include col(5,12, $first:true, $last:true);
            display: block;
        }
    }

    a {
        display: block;
    }

    h2 {
        margin: 0;

        &.signed {
            &:before {
                @include icon($fa-var-calendar-check-o);
            }
        }
        &.need {
            &:before {
                @include icon($fa-var-user-plus);
            }
        }

        span {
            display: block;

            @include medium-screen {
                display: initial;
            }
        }
    }

    .Button {
        @include button($color:white, $transparent:true);
        line-height: 2em;
    }
}

.CampaignForm-form {
    @include col(12,12);

    @include medium-screen {
        @include col(7,12);
        @include col-offset(5, 12);
    }

    @include large-screen {
        @include col(4,12);
        @include col-offset(3.2, 12);
    }
}

.CampaignForm-scrolled {
    .CampaignForm-actionInfoSection {
        position: fixed;
        z-index: 99;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        @include medium-screen {
            @include col-offset(5, 12);
        }
        @include large-screen {
            margin-left: auto;
        }
    }
}

.CampaignForm-actionInfoSection {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;

    @include medium-screen {
        @include col(7,12);
        left: auto;
    }

    @include large-screen {
        @include col(4.5,12);
        @include col-offset(7.5, 12);
    }
}

.CampaignForm-submit {
    @include button($color: $c-brand-comp-light, $icon: $fa-var-check);
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.CampaignForm-actions {
    @include col(12,12);
    .CampaignForm-action {
        position: relative;
        margin: 1em 0;
        padding: 1em 0;
        list-style: none;
        border-bottom: 1px solid darken($c-ui-bg,5);

        > div {
            position: relative;
            padding: 0 0.5em;

            ul {
                padding: 0;
                list-style: none;
            }
        }
    }
}
.CampaignForm-days {
    list-style: none;
    padding: 0;
    margin-top: 2em;

    .CampaignForm-day {
        margin-bottom: 1em;
        .CampaignForm-date {
            @include col(12,12);
            background-color: $c-ui-bg;
            padding: 1em;
            color: lighten($c-text, 20);

            span {
                font-size: 1.3em;
                margin-right: 0.5em;

                @include medium-screen {
                    font-size: 1.1em;
                }
            }

            span + span {
                font-size: 1em;
            }
        }
    }
}