.SurveySignatureOption {
    max-height: 2.5em;
    overflow: hidden;

    transition: max-height 0.2s linear;

    .SurveySignatureOption-header {
        display: block;
        height: 2.5em;
        padding: 0.5em;
        background-color: darken($c-ui-bg, 2);

        input {
            margin-right: 1em;
        }

        & > * {
            vertical-align: middle;
        }
    }

    .SurveySignatureOption-content {
        padding: 0 0 1em;
    }

    p {
        font-size: 0.8em;
    }

    &.expanded {
        max-height: 8em;
    }

    &.SurveySignatureOption-email {
        .SurveySignatureOption-content {
            > div {
                margin: 0.2em 0;
            }

            label {
                width: 30%;
                display: block;
                float: left;
                clear: left;
                max-width: 10em;
                line-height: 1.5em;
            }

            input {
                width: 70%;
                font-size: 1.0em;
                line-height: 1.5em;
                padding: 0.1em 0.4em;
                border: 1px solid $c-ui-dark;
            }
        }

        &.expanded {
            max-height: 18em;
        }
    }
}
